


<!-- <div>
  <input type="number" [(ngModel)]="num1" placeholder="Enter number 1">
  <input type="number" [(ngModel)]="num2" placeholder="Enter number 2">
  <button (click)="add()">Add</button>
  <button (click)="subtract()">Subtract</button>
  <button (click)="multiply()">Multiply</button>
  <button (click)="divide()">Divide</button>
  <p>Result: {{ result }}</p>
</div> -->

<div class="calculator">
  <div class="screen">
    <input type="text" [value]="currentNumber" readonly>
  </div>
  <div class="buttons">
    <button (click)="appendNumber(7)">7</button>
    <button (click)="appendNumber(8)">8</button>
    <button (click)="appendNumber(9)">9</button>
    <button (click)="divide()">/</button>
    <button (click)="appendNumber(4)">4</button>
    <button (click)="appendNumber(5)">5</button>
    <button (click)="appendNumber(6)">6</button>
    <button (click)="multiply()">*</button>
    <button (click)="appendNumber(1)">1</button>
    <button (click)="appendNumber(2)">2</button>
    <button (click)="appendNumber(3)">3</button>
    <button (click)="subtract()">-</button>
    <button (click)="appendNumber(0)">0</button>
    <button (click)="clear()">C</button>
    <button (click)="add()">+</button>
    <button (click)="equals()" class="equals">=</button>
  </div>
</div>

